@import '../../../styles.scss';

.section-container{
  margin: 25px 0px 30px 0px;
}
.card-dimension{
  width: 12.5rem;
  overflow: hidden;
  border-radius: 8px;
  border: none;
  box-shadow: 0px 2px 5px 1px $default-card-shadow;
  .card-color-top{
    height: 140px;
    padding: 15px;
    flex-wrap: wrap;
    font-weight: 500;
  }
  .card-body{
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
    .card-title{
      font-size: 1rem;
      margin-bottom: .3rem;
    }
    .card-text{
      margin-bottom: 0;
      font-size: .85rem;
    }
  }
}
