@import '../../../scss/variables';


.carousel {
  position: relative;
  height: 450px;
  overflow: hidden;
  min-height: 450px;
  background: $carousel-bg-color;
  box-shadow: 1px 3px 5px 1px $default-shadow;
}
