@import "../../../scss/variables";

.row {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  width: 100%;
  margin: 0px;
  background: $content-bg-color;
  position: fixed;
  top: 55px;
}

.content-container{
  width: 100%;
  padding: 0px 80px;
  margin: 0px 0px 55px 0px;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  background: $primary-bg-color;
  .tab-content-outer-container{
    max-width: 1140px;
    width: 95%;
    background: $tab-content-bg-color;
    .tab-content-inner-container{
      width: 100%;
      // margin: 0px 0px 55px 0px;
      padding: 20px 15px;
      background: $tab-content-bg-color;
      overflow-y: auto;
    }
  }
}

// NON-ACTIVE TAB
.nav-pills .nav-link {
  border-radius: 0;
  color: $font-color;
  padding: 10px 30px;
  border-bottom: 1px solid $border-color;
  transition: .2s;
  &:hover{
    background: $active-bg-color;
  }
}

// ACTIVE TAB
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: $primary-color;
  background-color: $active-bg-color;
  padding: 10px 30px;
  border-right: 2px solid $active-color;
  // /* border-right: 2px solid royalblue; */
  // border-bottom: 1px solid #efefef;
}

.column-container{
  border-right: 1px solid $border-color;
  flex: 0 0 25%;
  max-width: 330px;
  padding: 0px 0px 0px 0px;
  background: $primary-bg-color;
}

