/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "./scss/index";
@import "./scss/variables";
$epas-pimary-color: red;

body{
  overflow: hidden;
}

h3{
  color: $font-color;
  font-size: 1.75rem;
  margin-bottom: 16px;
  padding-bottom: 10px;
  border-bottom: 1px solid $border-color-darker;
}

// GLOBAL ANIMATIONS
  .page-reveal-animation{
    opacity: 1;
    transform: translateX(0px);
    animation: .3s page-show;

    @keyframes page-show {
      0%{
        opacity: 0;
        transform: translateY(8px);
      }
      100%{
        opacity: 1;
        transform: translateX(0px);
      }
    }
  }

