// SCSS VARIABLES FOR SITE

// COLORS
$primary-color: #005581;
$active-color: royalblue;
$border-color: #eaeaea;
$border-color-darker: gainsboro;
$font-color: #3a3a3a;


// BACKGROUND COLORS
$active-bg-color: #f8f9fa;
$primary-bg-color: white;
$content-bg-color: #f7f7f7;
$tab-content-bg-color: #f8f9fa;
$carousel-bg-color: #e8e8e8;
$carousel-button-bg-color: #dadada;
$translusent-button-bg-color: #29292930;
// SHADOWS
$default-shadow: #d6d6d6;
$default-card-shadow: gainsboro;
