// SCSS VARIABLES FOR SITE

// COLORS
$primary-color: #005581;
$active-color: royalblue;
$border-color: #eaeaea;
$font-color: #3a3a3a;


// BACKGROUND COLORS
$active-bg-color: #f3f3f3;
$primary-bg-color: white;
$content-bg-color: #f7f7f7;
